<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div id='app'>
        <!-- 遍历数组 -->
        <!-- 获取数组的元素和下标 -->
        <ul>
            <li v-for='(item,index) in names' :key='item'> {{index+1}}.{{item}}</li>
            <!-- 这个地方绑定key是为了高效的更新虚拟DOM（diff算法） -->
        </ul>
        <!-- 遍历对象 -->
        <!-- 获取对象的值，键，下标， -->
        <ul>
            <li v-for='(value,key,index) in info'>{{value}}--{{key}}--{{index+1}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                names: ['java','javascript','css','html'],
                info: {
                    name: 'xiaojingang',
                    height: 177,
                    weight: 150
                }
            }
        })
    </script>


</body>
</html>